[Definition]

loglevel = {{ fail2ban_loglevel }}

logtarget = {{ fail2ban_logtarget }}
{% if fail2ban_logtarget == "SYSLOG" %}
syslogsocket = {{ fail2ban_syslogsocket }}
{% endif %}

socket = {{ fail2ban_socket }}

pidfile = {{ fail2ban_pidfile }}

allowipv6 = {{ fail2ban_allowipv6 }}

dbpurgeage = {{ fail2ban_dbpurgeage }}
